.heading-l {
  font-size: 24px;
}

.heading-m {
  font-size: 16px;
  font-weight: 700;
}

.heading-s {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.text-l {
  font-size: 13px;
  font-weight: 500;
}

.text-m {
  font-size: 12px;
  font-weight: 700;
}
